<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ananddevelopment.fitness_care">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/Fitness_Care"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".diet_Plans"></activity>
        <activity android:name=".diet" />
        <activity android:name=".my_profile" />
        <activity android:name=".workout" />
        <activity android:name=".add_note" />
        <activity android:name=".exercise" />
        <activity android:name=".yoga_exe" />
        <activity android:name=".cardio_exe" />
        <activity android:name=".zumba_exe" />
        <activity
            android:name=".Home_page"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>